.container {
  display: flex;
  gap: 10px;
}

.container > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--color-neutral-3);
  padding: 1rem 1rem;
}

.container > button {
  width: 80px;
  border: none;
  border-radius: 10px;
  background-color: white;
  padding: 1rem 1rem;
  font-weight: bold;
  cursor: pointer;
}
