html,
body {
  margin: 0px;
  background-color: var(--color-neutral-4);
}

:root {
  --main-width: 600px;
  --header-height: 50px;

  --color-neutral-1: rgb(50, 50, 50);
  --color-neutral-2: rgb(150, 150, 150);
  --color-neutral-3: rgb(230, 230, 230);
  --color-neutral-4: rgb(245, 245, 245);
}
